<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WebpageRadiator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <WebpageRadiator.Properties.Settings>
            <setting name="Site1_Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Site2_Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Site3_Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Site4_Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Site5_Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Site1_URL" serializeAs="String">
                <value>http://www.google.com</value>
            </setting>
            <setting name="Site2_URL" serializeAs="String">
                <value>http://www.atomicobject.com</value>
            </setting>
            <setting name="Site3_URL" serializeAs="String">
                <value/>
            </setting>
            <setting name="Site4_URL" serializeAs="String">
                <value/>
            </setting>
            <setting name="Site5_URL" serializeAs="String">
                <value/>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>5000</value>
            </setting>
        </WebpageRadiator.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
